# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

app/playwright-report/*
app/test-results/*
app/test-results

node_modules
dist
dist-dev
dist-ssr
app/dist
app/dist-dev
app/dist-ssr
app/dev
app/dev-dist
app/dev-dist/*
packages/api-contracts/dist
packages/api-contracts/dist-dev
packages/api-contracts/dist-ssr
packages/api-contracts/dev
packages/api-contracts/dev-dist
packages/api-contracts/dev-dist/*
packages/auth-contracts/dist
packages/auth-contracts/dist-dev
packages/auth-contracts/dist-ssr
packages/auth-contracts/dev
packages/auth-contracts/dev-dist
packages/auth-contracts/dev-dist/*
packages/authorization/dist
packages/authorization/dist-dev
packages/authorization/dist-ssr
packages/authorization/dev
packages/authorization/dev-dist
packages/authorization/dev-dist/*
packages/layout/dist
packages/layout/dist-dev
packages/layout/dist-ssr
packages/layout/dev
packages/layout/dev-dist
packages/layout/dev-dist/*
packages/platform-core/dist
packages/platform-core/dist-dev
packages/platform-core/dist-ssr
packages/platform-core/dev
packages/platform-core/dev-dist
packages/platform-core/dev-dist/*
packages/platform-store/dist
packages/platform-store/dist-dev
packages/platform-store/dist-ssr
packages/platform-store/dev
packages/platform-store/dev-dist
packages/platform-store/dev-dist/*
packages/platform-store/dist
packages/platform-store/dist-dev
packages/platform-store/dist-ssr
packages/platform-store/dev
packages/platform-store/dev-dist
packages/platform-store/dev-dist/*
packages/shared-types/dist
packages/shared-types/dist-dev
packages/shared-types/dist-ssr
packages/shared-types/dev
packages/shared-types/dev-dist
packages/shared-types/dev-dist/*
packages/theme/dist
packages/theme/dist-dev
packages/theme/dist-ssr
packages/theme/dev
packages/theme/dev-dist
packages/theme/dev-dist/*
packages/modules/auth/dist
packages/modules/auth/dist-dev
packages/modules/auth/dist-ssr
packages/modules/auth/dev
packages/modules/auth/dev-dist
packages/modules/auth/dev-dist/*
packages/platform-core/temp
packages/platform-core/temp/*
packages/modules/billing-reports/temp
packages/modules/billing-reports/temp/*


*.local

# Environment files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static

# TS Build Info & Debug Text/Logs
*.tsbuildinfo
*.txt
*.log
.agents/skills/*
skills-lock.json
